<nav class="navbar navbar-light navbar-expand-md ">
  <a routerLink="/" class="navbar-brand">Recipe Book</a>

  <button type="button" class="navbar-toggler" (click)="collapsed = !collapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="navbar-collapse"
    [class.collapse]="collapsed"
    (window:resize)="collapsed = true"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/recipes" class="nav-link" class="nav-link">Recipes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/shopping-list" class="nav-link" class="nav-link"
          >Shopping List</a
        >
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown" appDropdown>
        <a href="#" class="dropdown-toggle" role="button">Manage</a>
        <ul class="dropdown-menu">
          <li><a href="#" class="dropdown-item">item</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
